@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100&family=Indie+Flower&family=Lobster&family=Quicksand:wght@300&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(141, 173, 231);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index:1;
}
nav ul{
    display: flex;
}
nav ul li a{
    display: flex;
    margin: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul li a:hover{
    color: rgba(107, 40, 215, 0.801);
    text-shadow: 2px 4px 8px rgb(138, 60, 4);
}
video{
    width: 100%;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 35%;
    color: rgb(255, 255, 255);
    text-shadow: 3px 4px 6px rgb(236, 232, 219);

}
span{
    color: darkblue;
}
#Home{
    display: flex;
    flex-direction: column;
    height: 500px;

}
#Home::before{
    content: "";
    background-image: url('https://wallpaperaccess.com/full/1759632.jpg');
    height: 1000px;
    width: 100%;
    background-position: center;
    background-size:cover;
    z-index:1;
}
.main{
    position: absolute;
    border: 2px ridge whitesmoke;
    padding: 70px;
    top: 1100px;
    left: 10%;
    box-shadow: 4px 5px 6px 7px ;
    z-index:1;
}
h1{
    text-align: center;
    font-size: xx-large;
    margin: 10px;
}
h1:hover{
    text-shadow: 3px 4px 5px black;
   

}
.pic{
    display: flex;
}
.pic p{
    margin: 20px;
    text-align: justify;
}
h3{
    text-align: center;
    text-decoration: underline;
}
.pic img{
    width: 500px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.gallery{
    margin-left: 150px;
}
.gallery img{
    width: 400px;
    height: 300px;
    margin: 20px;
}
.gallery img:hover{
    box-shadow: 3px 4px 5px 6px;

}
.row{
    display: flex;
   
}
.box{
    width: 300px;
    height: 400px;
    margin: 20px;
    margin-left: 90px;
    border: 2px ridge rgb(138, 60, 4);
    background: linear-gradient(to top,rgb(32, 21, 240) 50%, white 50%);
    background-size: 100% 200%;
    transition: all 1s;
}
.box:hover{
    background-position: left bottom;
    border: none;
    box-shadow: 3px 4px 5px 3px black;
}
.box img{
    width: 100%;
}
.box h4{
    text-align: center;
    color: rgb(56, 8, 100);
}
.box p{
    text-align: justify;
    margin: 20px;
}
form{
    width: 500px;
    margin-left: 580px;
}
.input{
    display: flex;
    margin: 20px;
    width: 100%;
}
button{
    padding-left: 45%;
}